<footer class="footer">

  <div class="wvu-contact">
    <r:editable_region name="contact" scope="site" />
  </div>

  <br class="clear" />

  <div class="wvu-credits" role="contentinfo">
    <ul>
      <li><a href ="http://about.wvu.edu/wvu-facts">Accreditations</a></li>
      <li><a href="http://brand.wvu.edu/web-standards">Web Standards</a></li>
      <li><a href="mailto:web_services@mail.wvu.edu">Questions or Comments?</a></li>
    </ul>
    
    <p>&copy; 2013 West Virginia University. West Virginia University is an Equal Opportunity/Affirmative Action institution.</p>
  </div> <!-- /.wvu-credits -->
      <div class="wvu-icons">
    <ul class="wvu-links">
      <li><a href="http://www.wvuf.org/">Give</a></li>
      <li><a href="http://myaccess.wvu.edu/">MyAccess</a></li>
      <li><a href="http://careerservices.wvu.edu/mountaineertraklogins">MountaineerTRAK</a></li>
      <li><a href="http://emergency.wvu.edu/alert/">WVU Alert</a></li>
      <li><a href="http://wvutoday.wvu.edu">WVU Today</a></li>
      <li><a href="http://mix.wvu.edu/">MIX</a></li>
    </ul>
    
    <ul class="wvu-social">
      <li><a class="wvu-facebook" href="http://www.facebook.com/wvumountaineers">WVU on Facebook</a></li>
      <li><a class="wvu-twitter" href="https://twitter.com/WestVirginiaU/">WVU on Twitter</a></li>
      <li><a class="wvu-youtube" href="http://videos.wvu.edu">WVU on YouTube</a></li>
    </ul>
  </div> <!-- /.wvu-icons -->

</footer>