<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><r:page:first_non_blank_attr names="title, name" /> | <r:site_name /> | West Virginia University</title>
    <meta name="description" content="<r:page:meta_description />" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="//slate.wvu.edu/themes/shared/webstandards/html5/stylesheets/global2013-v2.css" rel="stylesheet">
    <r:include_stylesheet name="styles" />

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
    <!-- HTML5 Shiv is *required* for IE to recognize the new HTML5 tags. -->

  </head>
  <body id="<r:page:template:name />" class="page-<r:page:id />">

    <r:partial name="masthead" />

    <div class="container">

      <r:partial name="header" />
      <r:yield />
      <r:partial name="footer" />
    
    </div> <!-- /.container -->

  </body>
</html>
