---
layout: default
---
{% comment %}<!-- NOTE: Set how many blog posts you'd like to show per page. Eg: default: 10 -->{% endcomment %}
{% assign limit = params.limit | default: 10 %}

{% render "breadcrumbs" %}

<main class="main ten columns">
  <h1>{{ page.name }}</h1>

  {% assign articles = blog.articles | filter_articles: limit: limit, page: params.page, tags: params.tags, tags_op: params.tags_op, year: params.year, month: params.month, day: params.day %}

  {% if articles.length > 0 %}
    {% comment %}<!-- NOTE: Blog articles use Schema.org's tags to structure your data & help with SEO: http://goo.gl/SKs4Qb -->{% endcomment %}
      <div class="wvu-articles">
        {% for article in articles.all %}
          <article class="wvu-article" itemscope="" itemtype="http://schema.org/BlogPosting">
            <h2 class="wvu-article__title" itemprop="headline"><a href="{{ article.url }}">{{ article.name }}</a></h2>
            <p class="wvu-article__meta">
              {{ article.author.full_name }} |
              <time class="wvu-article__date" itemprop="datePublished" datetime="{{ article.published_at | date_iso8601 }}">{{ article.published_at | date: '%A, %B %d, %Y' }}</time>
            </p> <!-- /.wvu-article__meta -->
            <div class="wvu-article__body" itemprop="articleBody">
              {{ article.content['article-body'] | select_html: css_selector: 'p', limit: 2 }}
            </div> <!-- /.wvu-article__body -->
            <p><a href="{{ article.url }}">Read Full Article</a></p>
          </article> <!-- /.wvu-article -->
        {% endfor %}
      </div> <!-- /.wvu-articles -->

    {% assign pagination = articles | blog_pagination %}
    {% if pagination.total_pages > 1 %}
      <ul class="wvu-pagination">
        <li class="wvu-pagination__older {% if pagination.is_last_page %}wvu-pagination__disabled{% endif %}"><a href="{{ pagination.next_page_url }}" rel="next">&larr; Older Articles</a></li>
        <li class="wvu-pagination__newer {% if pagination.is_first_page %}wvu-pagination__disabled{% endif %}"><a href="{{ pagination.prev_page_url }}" rel="prev">Newer Articles &rarr;</a></li>
      </ul>
    {% endif %}
  {% else %}
    <p>No blog posts found. Try again later, perhaps?</p>
  {% endif %}
</main> <!-- /.main -->

<aside class="wvu-sidebar six columns">
  <a href="{{ page.url | append: '.rss' }}">Articles RSS Feed</a>
</aside> <!-- /.wvu-sidebar -->
